
.red {
    border : 1px solid red;
}

.green {
    border : 1px solid green;
}

.yellow {
    border:  1px solid yellow;
}
.login-container{
    background-color: #f0f2f5;
    min-height: 100vh;
    padding-top: 20px;
    .content-left{
        .brand{
            text-transform: uppercase;
            font-size: 30px;
            color : #1877f2
        };
        .detail {
            font-size: 20px;
        };
        margin-top: 50px;
    }
    .content-right{
        .brand{
            text-transform: uppercase;
            font-size: 30px;
            color : #1877f2;
            text-align: center;
            font-weight: 600 ;
        };
        border-radius:  10px;
        background-color: #ffff;
        padding : 15px ;

        box-shadow: 0 20px 4px rgb(0 0 0 /10%) , 0 8px 16px rgb(0 0 0 /10%);
        box-sizing: border-box; 
        .forgot-password{
            text-decoration: none ;
            &:hover{
                text-decoration: underline ;
            }
        }
    };
  

}